<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" href="https://mangapoisk.me/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="https://mangapoisk.me/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://mangapoisk.me/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://mangapoisk.me/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://mangapoisk.me/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://mangapoisk.me/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="https://mangapoisk.me/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://mangapoisk.me/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://mangapoisk.me/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="https://mangapoisk.me/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://mangapoisk.me/favicon-16x16.png">
  <link rel="shortcut icon" href="https://mangapoisk.me/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="https://mangapoisk.me/site.webmanifest">
  <link rel="mask-icon" href="https://mangapoisk.me/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="preconnect" href="https://static2.mangapoisk.me">
  <link rel="preconnect" href="https://ddb404e7-a763-4312-8e2d-04eb348534e4.selcdn.net">

  <script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>


  <link rel="preload" as="style" href="https://mangapoisk.me/build/assets/app-4f1e9ba5.css" />
  <link rel="preload" as="style" href="https://mangapoisk.me/build/assets/app-1df3623d.css" />
  <link rel="modulepreload" href="https://mangapoisk.me/build/assets/app-aceda283.js" />
  <link rel="stylesheet" href="https://mangapoisk.me/build/assets/app-4f1e9ba5.css" />
  <link rel="stylesheet" href="https://mangapoisk.me/build/assets/app-1df3623d.css" />
  <script type="module" src="https://mangapoisk.me/build/assets/app-aceda283.js"></script>
  <title>{{MANGA_NAME}}</title>
  <!-- HEAD_svelte-10ox2ow_START -->
  <!-- HEAD_svelte-10ox2ow_END -->
  <!-- HEAD_svelte-1psh24l_START -->
  <meta name="description" content="{{DESCRYPTION}}">
  <!-- HEAD_svelte-1psh24l_END -->
</head>

<body class="overflow-x-hidden" data-theme="default-theme">
    <div id="appShell" class="w-full h-full flex flex-col overflow-hidden " data-testid="app-shell">
      <header id="shell-header" class="flex-none z-10">
        <nav class="fixed bg-surface-100-800-token text-surface-600-300-token shadow-2xl px-2 py-2.5 xs:px-1 lg:px-4 w-full">
          <div class="mx-auto flex flex-wrap justify-between items-center md:flex-nowrap max-w-full container ">
            <a href="/" class="flex items-center" title="MangaPoisk.me Найди свою мангу"><img src="https://mangapoisk.me/images/logo_mini.png" width="30" height="35" alt="MangaPoisk" title="MangaPoisk"> <span class="navbar-menu self-center whitespace-nowrap ml-1 !text-base !px-0 sm:!text-xl font-semibold !bg-transparent xxs:hidden">МангаПоискAPI</span> <span class="navbar-menu self-center whitespace-nowrap ml-1 !px-0 !text-base !font-semibold !bg-transparent hidden xxs:block">МП</span></a>
            <div class="flex md:order-2 justify-content-end">
              <button aria-label="Dark mode" type="button" class="navbar-button" data-svelte-h="svelte-1furdzd"><span class="hidden dark:block"><svg class="w-6 h-6 xs:w-5 xs:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1
0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg></span> <span class="block dark:hidden"><svg class="w-6 h-6 xs:w-5 xs:h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg></span></button>
              <button aria-label="Уведомления" type="button" class="navbar-button">
                <svg class="w-6 h-6 xs:w-5 xs:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 21">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 3.464V1.1m0 2.365a5.338 5.338 0 0 1 5.133 5.368v1.8c0 2.386 1.867 2.982 1.867 4.175C15 15.4 15 16 14.462 16H1.538C1 16 1 15.4 1 14.807c0-1.193 1.867-1.789 1.867-4.175v-1.8A5.338 5.338 0 0 1 8 3.464ZM4.54 16a3.48 3.48 0 0 0 6.92 0H4.54Z"></path>
                </svg>
                <div class="badge-icon absolute -top-1 -right-0.5 z-10">
                  <div class="px-2 py-1 xxs:text-xxs text-xs leading-none text-center rounded-full animate-pulse text-secondary-600-300-token">...</div>
                </div>
              </button>
              <div data-popup="dropdown-notifications" class="z-10 hidden w-full max-w-md sm:max-w-sm card shadow-xl xs:!left-0 !duration-0">
                <h3 class="px-4 py-2 text-center overflow-hidden">Уведомления</h3>
                <div class="max-h-[30rem] divide-y divide-surface-700 overflow-y-scroll overflow-x-hidden scroll-smooth snap-y">
                  <div class="py-2 w-96 text-sm list-none">
                    <h4 class="h5 px-3 text-center"><div class="leading-none text-center mx-auto text-secondary-600-300-token animate-pulse">Загрузка...</div></h4> </div>
                </div>
              </div>
              <button aria-label="Уведомления" type="button" class="navbar-button" data-svelte-h="svelte-1tm7i0t">
                <svg class="w-6 h-6 xs:w-5 xs:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 19-6-5-6 5V2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v17Z"></path>
                </svg>
              </button>
              <div data-popup="dropdown-bookmarks" class="z-10 hidden w-full max-w-md sm:max-w-sm card shadow-xl xs:!left-0 !duration-0">
                <h3 class="px-4 py-2 text-center overflow-hidden flex items-center justify-center">Закладки <a href="/bookmarks" aria-label="Закладки" class="ml-2"><svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18"><path d="M12.687 14.408a3.01 3.01 0 0 1-1.533.821l-3.566.713a3 3 0 0 1-3.53-3.53l.713-3.566a3.01 3.01 0 0 1 .821-1.533L10.905 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V11.1l-3.313 3.308Zm5.53-9.065.546-.546a2.518 2.518 0 0 0 0-3.56 2.576 2.576 0 0 0-3.559 0l-.547.547 3.56 3.56Z"></path><path d="M13.243 3.2 7.359 9.081a.5.5 0 0 0-.136.256L6.51 12.9a.5.5 0 0 0 .59.59l3.566-.713a.5.5 0 0 0 .255-.136L16.8 6.757 13.243 3.2Z"></path></svg></a></h3>
                <div class="flex space-x-1 px-3 pt-1 pb-2 items-center justify-center">
                  <label><span>Тип</span>
                    <select class="select variant-ghost-surface text-sm max-w-sm">
                      <option>Все</option>
                    </select>
                  </label>
                  <label><span>Сортировка</span>
                    <select class="select variant-ghost-surface text-sm max-w-sm">
                      <option value="-pivot_subscribed_at">Дате добавления ↓</option>
                      <option value="pivot_subscribed_at">Дате добавления ↑</option>
                      <option value="-last_chapter_at">Дате обновления ↓</option>
                      <option value="last_chapter_at">Дате обновления ↑</option>
                    </select>
                  </label>
                </div>
                <div class="max-h-[30rem] relative divide-y divide-surface-700 overflow-y-scroll overflow-x-hidden scroll-smooth snap-y">
                  <div class="py-2 w-96 text-sm list-none">
                    <h4 class="h5 px-3 text-center"><div class="leading-none text-center mx-auto text-secondary-600-300-token animate-pulse">Загрузка...</div></h4> </div>
                </div>
              </div>
              <button aria-label="Поиск" type="button" class="lg:!hidden navbar-button">
                <svg class="w-6 h-6 xs:w-5 xs:h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                </svg>
              </button>
              <div class="hidden relative lg:block mx-3">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                  </svg>
                </div>
                <input id="search-navbar" class="textarea focus:!filter-none hover:!filter-none border-1 focus:!outline-0 block w-full text-sm pl-10" placeholder="Поиск" title="* Введите поисковый запрос">
              </div>
              <button type="button" class="flex mr-1 w-8 h-8 xs:w-6 xs:h-6 xs:mt-0.5 self-center items-center text-sm rounded-full md:mr-0 ring-2 ring-surface-300-600-token focus:ring-4 focus:ring-surface-600" id="user-menu-button" aria-expanded="false"><span class="sr-only" data-svelte-h="svelte-1tvisl5">Open user menu</span> <img alt="Аватар" title="Аватар" src="HTTPS://mangapoisk.me/storage/avatar/tpDl1E0pONrCBr0cKWCiXRSy10WlfOuC6SEDzYbx_mini.png" width="30" height="30" id="avatar-menu" class="rounded-full mx-auto dark:bg-surface-400"></button>
              <div data-popup="dropdown-user" class="z-50 hidden mt-2 card shadow-xl text-base !duration-0">
                <div class="px-4 py-3"><span class="block text-sm">StenoGor Dorama</span> <span class="block text-sm text-surface-400 truncate"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="374f50525a4f445e435277505a565e5b1954585a">[email&#160;protected]</a></span></div>
                <hr>
                <ul class="py-2" aria-labelledby="user-menu-button">
                  <li>
                    <label class="text-sm flex flex-col space-y-1 px-3 pt-1 pb-2"><span>Тема:</span>
                      <select class="select text-sm">
                        <option value="default-theme">default-theme</option>
                        <option value="skeleton">skeleton</option>
                        <option value="vintage">vintage</option>
                        <option value="rocket">rocket</option>
                        <option value="wintry">wintry</option>
                        <option value="hamlindigo">hamlindigo</option>
                        <option value="seasonal">seasonal</option>
                        <option value="seafoam">seafoam</option>
                        <option value="sahara">sahara</option>
                        <option value="modern">modern</option>
                        <option value="gold-nouveau">gold-nouveau</option>
                      </select>
                    </label>
                  </li>
                  <li>
                    <button class="w-full flex items-center px-4 py-2 text-sm text-warning-600 hover:bg-surface-100 hover:text-warning-800">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 14 3-3m-3 3 3 3m-3-3h16v-3m2-7-3 3m3-3-3-3m3 3H3v3"></path>
                      </svg> Старый сайт</button>
                  </li>
                  <li>
                    <a href="/profile" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"></path>
                      </svg> Профиль</a>
                  </li>
                  <li>
                    <a href="/bookmarks" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 19-6-5-6 5V2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v17Z"></path>
                      </svg> Закладки</a>
                  </li>
                  <li>
                    <a href="/comments" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 5h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2v3l-4-3H8m4-13H2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h2v3l4-3h4a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"></path>
                      </svg> Комментарии</a>
                  </li>
                  <li>
                    <a href="/history" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M10 6v4l3.276 3.276M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                      </svg> История</a>
                  </li>
                  <li>
                    <a href="/settings" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                          <path d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z"></path>
                          <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                        </g>
                      </svg> Настройки</a>
                  </li>
                  <li>
                    <a href="/notification-settings" class="flex items-center px-4 py-2 text-sm hover:bg-surface-100 hover:text-surface-900">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5h9M5 9h5m8-8H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h4l3.5 4 3.5-4h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"></path>
                      </svg> Настройки уведомлений</a>
                  </li>
                  <li>
                    <button class="w-full flex items-center px-4 py-2 text-sm text-error-400 hover:bg-surface-100 hover:text-error-500">
                      <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h11m0 0-4-4m4 4-4 4m-5 3H3a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h3"></path>
                      </svg> Выйти</button>
                  </li>
                </ul>
              </div>
              <button type="button" class="md:!hidden navbar-button" aria-controls="navbar-hamburger" aria-expanded="false" data-svelte-h="svelte-1ycjsir"><span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5 xs:w-4 xs:h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
              </button>
            </div>
            <div id="navbar-hamburger" data-popup="dropdown-navbar" class="hidden md:ml-2 w-full md:w-auto flex-auto max-md:!left-0 max-md:card !rounded max-md:shadow-2xl !ring-0 !border-t-transparent !border-t-0 md:!block md:!static md:!opacity-100 !duration-0">
              <ul class="flex flex-col p-2 mt-4 md:flex-row md:space-x-2 lg:space-x-5 md:mt-0 text-sm font-medium whitespace-nowrap">
                <li class="navbar-menu"><a href="/manga" class="w-full h-full block">Каталог</a></li>
                <li class="navbar-menu"><a href="/genre" class="w-full h-full block">Жанры</a></li>
                <li class="navbar-menu"><a href="/recommendations" class="w-full h-full block">Рекомендации</a></li>
                <li class="navbar-menu"><a href="/top" class="w-full h-full block">Топ 100</a></li>
                <li class="navbar-menu">
                  <button class="flex items-center p-0 cursor-pointer w-full h-full" type="button">
                    <svg class="mr-1 w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg> <span class="md:hidden">Оставить отзыв</span></button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="flex-auto w-full h-full flex overflow-hidden">
        <div id="page" class=" flex-1 overflow-x-hidden flex flex-col">
          <main id="page-content" class="flex-auto ">
            <div class="mt-[64px]">
              <div class="container mx-auto p-2 pt-1 sm:p-4 space-y-4 dark:text-gray-200">
                <div class="card p-2 sm:p-3">
                  <header class="card-header p-0">
                    <h1 class="text-base sm:text-lg">Манга <span>{{MANGA_NAME}}</span> <span class="text-surface-400 text-md">/ {{ENG_MANGA_NAME}}</span></h1></header>
                  <section class="pt-1 sm:pt-2">
                    <div class="grid grid-cols-1 md:grid-cols-4 md:gap-6">
                      <div class="md:col-span-1">
                        <button class="w-full"><img src="{{MANGA_IMAGE}}" width="{{IMG_W}}" height="{{IMG_H}}" title="{{MANGA_NAME}}" alt="{{MANGA_NAME}}" class="rounded-container-token preload w-full h-auto max-w-3xs md:max-w-xs mx-auto"></button>
                        <div class="pt-1 flex flex-col space-y-2 mx-auto w-fit" data-svelte-h="svelte-1owux34"> </div>
                      </div>
                      <div class="md:col-span-3">
                        <div class="border-b border-gray-200 dark:border-gray-700 mb-3">
                          <ul class="flex flex-wrap -mb-px text-sm sm:text-base font-medium text-center">
                            <li><a href="/manga/warden-who-guards-the-witches" type="button" class="inline-flex items-center justify-center py-4 sm:pt-0 px-1 sm:px-3 border-b-2 rounded-t-lg group text-tertiary-700  border-tertiary-700 dark:text-tertiary-500 dark:border-tertiary-500">Обзор</a></li>
                            <li><a href="/manga/warden-who-guards-the-witches?tab=chapters" type="button" class="relative inline-flex items-center justify-center py-4 sm:pt-0 px-1 sm:px-3 border-b-2 rounded-t-lg group border-transparent hover:text-tertiary-700 hover:border-surface-300 dark:hover:text-tertiary-500">Главы <span class="text-xs pl-1">({{GLAV_COUNT}})</span> </a></li>
                            <li><a href="/manga/warden-who-guards-the-witches?tab=comments" type="button" class="relative inline-flex items-center justify-center py-4 sm:pt-0 px-1 sm:px-3 border-b-2 rounded-t-lg group border-transparent hover:text-tertiary-700 hover:border-surface-300 dark:hover:text-tertiary-500" aria-current="page">Комментарии <span class="text-xs pl-1">({{CALL_BACK_COUNT}})</span> </a></li>
                          </ul>
                          <div class="py-2">
                            <div class="flex flex-col space-y-1">
                              <div class="flex">
                                <h2 class="text-sm overflow-hidden inline manga-alt-name" style="max-height: 20px;">{{NAME_ALT}}</h2>
                                <button class="anchor -mt-2" data-svelte-h="svelte-5wdz0o">...</button>
                              </div>
                              <div class="flex text-lg">
                                <div type="button" class="flex mt-0.5 space-x-1.5 cursor-pointer" role="button" tabindex="0">
                                  <button>
                                    <svg class="w-5 h-5 hover:scale-125 transition-all duration-75 ease-in-out active:rotate-180 active:scale-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                      <path fill="rgb(216 172 8)" d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                                    </svg>
                                  </button>
                                  <button>
                                    <svg class="w-5 h-5 hover:scale-125 transition-all duration-75 ease-in-out active:rotate-180 active:scale-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                      <path fill="rgb(216 172 8)" d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                                    </svg>
                                  </button>
                                  <button>
                                    <svg class="w-5 h-5 hover:scale-125 transition-all duration-75 ease-in-out active:rotate-180 active:scale-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                      <path fill="rgb(216 172 8)" d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                                    </svg>
                                  </button>
                                  <button>
                                    <svg class="w-5 h-5 hover:scale-125 transition-all duration-75 ease-in-out active:rotate-180 active:scale-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                      <path fill="rgb(216 172 8)" d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                                    </svg>
                                  </button>
                                  <button>
                                    <svg class="w-5 h-5 hover:scale-125 transition-all duration-75 ease-in-out active:rotate-180 active:scale-150" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                      <defs>
                                        <linearGradient id="rating-grad-5">
                                          <stop offset="0%" stop-color="rgb(216 172 8)"></stop>
                                          <stop offset="21%" stop-color="rgb(216 172 8)"></stop>
                                          <stop offset="21%" stop-color="currentcolor"></stop>
                                          <stop offset="79%" stop-color="currentcolor"></stop>
                                        </linearGradient>
                                      </defs>
                                      <path fill="url(#rating-grad-5)" d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"></path>
                                    </svg>
                                  </button>
                                </div> <b class="ml-1">{{RATING}}</b> <small>(голосов: <span>{{RATES_COUNT}}</span>)</small></div> <span><b class="text-primary-700 dark:text-primary-500">Глав:</b> {{GLAV_COUNT}}</span> <span><b class="text-primary-700 dark:text-primary-500">Статус:</b> {{STATUS}}</span> <span><b class="text-primary-700 dark:text-primary-500">Жанр:</b> 

                                    <!--
                    <a href="/genre/ecchi" class="badge variant-soft-tertiary mb-1 mr-1" title="список манги жанра этти">этти </a>
                                    -->

                                {{GENRES_HTML}}</span> <span><b class="text-primary-700 dark:text-primary-500">Год:</b> <a href="/year/{{YEAR}}" class="badge variant-soft-tertiary" title="список манги за год {{YEAR}}">{{YEAR}}</a></span>
                              <div><b class="text-primary-700 dark:text-primary-500">Описание:</b>
                                <div class="manga-description overflow-hidden descr" style="max-height: 70px;">
                                    {{DESCRYPTION}}
                                </div>
                                <button type="button" class="manga-show-more text-primary-700 dark:text-primary-500" onclick="document.querySelector('.descr').style='max-height: 300px;';document.querySelector('.manga-show-more').innerHTML=''">↓ Показать описание</button>
                              </div>
                              <div class="pt-1 flex space-x-1 xs:flex-col xs:space-x-0 xs:space-y-1 xs:w-full"><a href="/{{FIRST_CHAPTER}}" class="btn btn-sm max-sm:px-1 variant-filled-primary"><h2 class="whitespace-normal">Читать мангу онлайн сначала</h2></a> <a href="{{LAST_CHAPTER}}" class="btn btn-sm max-sm:px-1 variant-filled-primary"><h2 class="whitespace-normal">Читать последнюю главу</h2></a> <a href="{{WAIT_CHAPTER}}" class="btn btn-sm max-sm:px-1 variant-filled-warning"><h2 class="whitespace-normal">Когда выйдет глава 26 ?</h2></a>
                                <button type="button" class="btn btn-sm max-sm:px-1 variant-filled-secondary whitespace-normal">
                                  <svg class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 19-6-5-6 5V2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v17Z"></path>
                                  </svg> Добавить в закладки!</button>
                                <div id="dropdownBookmark" data-popup="dropdown-bookmark" class="z-10 hidden card space-y-1 shadow w-full max-w-xs xxs:!left-0 !duration-0">
                                  <ul class="text-left h-fit p-3 overflow-y-auto text-gray-700 dark:text-gray-200 variant-soft-secondary" aria-labelledby="dropdownBookmark">
                                    <li class="cursor-pointer rounded-none px-4 py-2 hover:variant-soft-primary text-base">
                                      <input id="bookmark-subscribed" type="radio" value="subscribed" class="hidden">
                                      <label for="bookmark-subscribed" class="w-full ml-2 text-sm sm:text-base">Читаю</label>
                                    </li>
                                    <li class="cursor-pointer rounded-none px-4 py-2 hover:variant-soft-primary text-base">
                                      <input id="bookmark-readingLater" type="radio" value="readingLater" class="hidden">
                                      <label for="bookmark-readingLater" class="w-full ml-2 text-sm sm:text-base">В планах</label>
                                    </li>
                                    <li class="cursor-pointer rounded-none px-4 py-2 hover:variant-soft-primary text-base">
                                      <input id="bookmark-finished" type="radio" value="finished" class="hidden">
                                      <label for="bookmark-finished" class="w-full ml-2 text-sm sm:text-base">Прочитано</label>
                                    </li>
                                    <li class="cursor-pointer rounded-none px-4 py-2 hover:variant-soft-primary text-base">
                                      <input id="bookmark-abandoned" type="radio" value="abandoned" class="hidden">
                                      <label for="bookmark-abandoned" class="w-full ml-2 text-sm sm:text-base">Заброшено</label>
                                    </li>
                                    <li class="cursor-pointer rounded-none px-4 py-2 hover:variant-soft-primary text-base">
                                      <input id="bookmark-onHold" type="radio" value="onHold" class="hidden">
                                      <label for="bookmark-onHold" class="w-full ml-2 text-sm sm:text-base">Отложено</label>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <div class="pt-4 h-[300px]">
                                <div class="flex h-full items-center">
                                  <div class="leading-none text-center mx-auto text-secondary-600-300-token animate-pulse">Загрузка...</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <footer id="shell-footer" class="flex-none ">
        <footer class="flex-none">
          <footer class="card rounded-none shadow-2xl p-4 md:px-6 md:py-8 bg-surface-100-800-token">
            <div class="sm:flex sm:items-center sm:justify-between">
              <ul class="flex flex-wrap justify-between items-center mb-6 text-md sm:mb-0 text-surface-600-300-token">
                <li class="m-2"><a href="/legal">Пользовательское соглашение</a></li>
                <li class="m-2"><a href="/copyright">Правообладателям</a></li>
                <li class="m-2"><a href="/dataDeletion">Удаление персональных данных</a></li>
                <li class="m-2"><a href="/privacyPolicy">Политика конфиденциальности</a></li>
              </ul>
            </div>
            <hr class="my-6 sm:mx-auto lg:my-8">
            <div class="text-center"> <span class="text-surface-600-300-token">© {{YEAR}} {{PAGE_NAME}}, все права защищены. <br></span></div>
          </footer>
        </footer>
      </footer>
    </div>
  </div>
  <script>
        // fake loads. all loads on server.
        await fetch(`/api?version=v0&method=info_mangas&manga=warden-who-guards-the-witches`).then((response) => console.log(response));

        
  </script>
</body>

</html>