html {
      font-size: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    
    a:focus {
      outline: thin dotted #333;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
    
    a:hover,
    a:active {
      outline: 0;
    }
    
    input {
      margin: 0;
      font-size: 100%;
      vertical-align: middle;
      *overflow: visible;
      line-height: normal;
    }
    
    input::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
    
    body {
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #333;
      background-color: #fff;
    }
    
    a {
      color: #08c;
      text-decoration: none;
    }
    
    a:hover {
      color: #005580;
      text-decoration: underline;
    }
    
    .row {
      margin-left: -20px;
      *zoom: 1;
    }
    
    .row:before,
    .row:after {
      display: table;
      content: "";
      line-height: 0;
    }
    
    .row:after {
      clear: both;
    }
    
    .span3 {
      float: left;
      min-height: 1px;
      margin-left: 20px;
      width: 220px;
    }
    
    .container {
      width: 940px;
      margin-right: auto;
      margin-left: auto;
      *zoom: 1;
    }
    
    .container:before,
    .container:after {
      display: table;
      content: "";
      line-height: 0;
    }
    
    .container:after {
      clear: both;
    }
    
    small {
      font-size: 85%;
    }
    
    h1 {
      margin: 10px 0;
      font-family: inherit;
      font-weight: bold;
      line-height: 20px;
      color: inherit;
      text-rendering: optimizelegibility;
      line-height: 40px;
      font-size: 38.5px;
    }
    
    h1 small {
      font-weight: normal;
      line-height: 1;
      color: #999;
      font-size: 24.5px;
    }
    
    body {
      margin-top: 90px;
    }
    
    .header {
      position: fixed;
      top: 0;
      left: 50%;
      margin-left: -480px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding-top: 10px;
      z-index: 10;
    }
    
    .footer {
      color: #ddd;
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
    }
    
    .footer a {
      color: #ccc;
      text-decoration: underline;
    }
    
    .the-icons {
      font-size: 14px;
      line-height: 24px;
    }
    
    .switch {
      position: absolute;
      right: 0;
      bottom: 10px;
      color: #666;
    }
    
    .switch input {
      margin-right: 0.3em;
    }
    
    .codesOn .i-name {
      display: none;
    }
    
    .codesOn .i-code {
      display: inline;
    }
    
    .i-code {
      display: none;
    }
    
    @font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?16502980');
      src: url('./font/fontello.eot?16502980#iefix') format('embedded-opentype'), url('./font/fontello.woff?16502980') format('woff'), url('./font/fontello.ttf?16502980') format('truetype'), url('./font/fontello.svg?16502980#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }
    
    .demo-icon {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: never;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

h1 {
      margin-top: 0;
      margin-bottom: .5rem
    }
    
    .h4,
    .h5,
    h1 {
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2
    }
    
    .h5 {
      font-size: 1.171875rem
    }
    
    .col-lg-4,
    .col-md-5,
    .col-xl-8 {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px
    }
    
    .col-lg-4,
    .col-md-5,
    .col-xl-8 {
      padding-right: 7px;
      padding-left: 7px
    }
    
    b {
      font-weight: bolder
    }
    
    :root {
      --blue: #2c3e50;
      --indigo: #6610f2;
      --purple: #6f42c1;
      --pink: #e83e8c;
      --red: #e74c3c;
      --orange: #fd7e14;
      --yellow: #f39c12;
      --green: #18bc9c;
      --teal: #20c997;
      --cyan: #3498db;
      --white: #fff;
      --gray: #95a5a6;
      --gray-dark: #343a40;
      --primary: #2c3e50;
      --secondary: #95a5a6;
      --success: #18bc9c;
      --info: #3498db;
      --warning: #f39c12;
      --danger: #e74c3c;
      --light: #ecf0f1;
      --dark: #7b8a8b;
      --breakpoint-xs: 0;
      --breakpoint-sm: 576px;
      --breakpoint-md: 768px;
      --breakpoint-lg: 992px;
      --breakpoint-xl: 1200px
    }
    
    *,
    :after,
    :before {
      box-sizing: border-box
    }
    
    html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%
    }
    
    article,
    header,
    nav {
      display: block
    }
    
    body {
      margin: 0;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff
    }
    
    h1,
    h2,
    h5 {
      margin-top: 0;
      margin-bottom: .5rem
    }
    
    p {
      margin-top: 0
    }
    
    p {
      margin-bottom: 1rem
    }
    
    ul {
      margin-top: 0;
      margin-bottom: 1rem
    }
    
    b,
    strong {
      font-weight: bolder
    }
    
    small {
      font-size: 80%
    }
    
    a {
      color: #18bc9c;
      text-decoration: none;
      background-color: transparent
    }
    
    img {
      border-style: none
    }
    
    img {
      vertical-align: middle
    }
    
    button {
      border-radius: 0
    }
    
    button,
    input,
    select {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit
    }
    
    button,
    input {
      overflow: visible
    }
    
    button,
    select {
      text-transform: none
    }
    
    select {
      word-wrap: normal
    }
    
    [type=button],
    [type=submit],
    button {
      -webkit-appearance: button
    }
    
    [type=button]::-moz-focus-inner,
    [type=submit]::-moz-focus-inner,
    button::-moz-focus-inner {
      padding: 0;
      border-style: none
    }
    
    ::-webkit-file-upload-button {
      font: inherit;
      -webkit-appearance: button
    }
    
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h5 {
      margin-bottom: .5rem;
      font-weight: 500;
      line-height: 1.2
    }
    
    h1 {
      font-size: 3rem
    }
    
    h2 {
      font-size: 2.5rem
    }
    
    .h4 {
      font-size: 1.40625rem
    }
    
    .h5,
    h5 {
      font-size: 1.171875rem
    }
    
    .h6 {
      font-size: .9375rem
    }
    
    small {
      font-size: 80%;
      font-weight: 400
    }
    
    .img-fluid {
      max-width: 100%;
      height: auto
    }
    
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto
    }
    
    @media (min-width:576px) {
      .container {
        max-width: 540px
      }
      .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
      }
    }
    
    @media (min-width:768px) {
      .container {
        max-width: 720px
      }
    }
    
    @media (min-width:992px) {
      .container {
        max-width: 960px
      }
    }
    
    @media (min-width:1200px) {
      .container {
        max-width: 1140px
      }
    }
    
    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px
    }
    
    .col-lg-4,
    .col-lg-8,
    .col-md-5,
    .col-md-7,
    .col-xl-8 {
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px
    }
    
    .order-0 {
      order: 0
    }
    
    .order-1 {
      order: 1
    }
    
    .order-2 {
      order: 2
    }
    
    .order-3 {
      order: 3
    }
    
    .order-4 {
      order: 4
    }
    
    @media (min-width:768px) {
      .col-md-5 {
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%
      }
      .col-md-7 {
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%
      }
    }
    
    @media (min-width:992px) {
      .col-lg-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%
      }
      .col-lg-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
      }
    }
    
    @media (min-width:1200px) {
      .col-xl-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
      }
      .container {
        max-width: 1400px
      }
    }
    
    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7b8a8b;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem
    }
    
    .form-control::-ms-expand {
      background-color: transparent;
      border: 0
    }
    
    .form-control::-webkit-input-placeholder {
      color: #95a5a6;
      opacity: 1
    }
    
    .form-control::-ms-input-placeholder {
      color: #95a5a6;
      opacity: 1
    }
    
    .form-control:-ms-input-placeholder {
      color: #95a5a6;
      opacity: 1
    }
    
    .form-inline {
      display: flex;
      flex-flow: row wrap;
      align-items: center
    }
    
    .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: .9375rem;
      line-height: 1.5;
      border-radius: .25rem
    }
    
    .btn-secondary {
      color: #fff;
      background-color: #95a5a6;
      border-color: #95a5a6
    }
    
    .btn-outline-primary {
      color: #2c3e50;
      border-color: #2c3e50
    }
    
    .btn-outline-warning {
      color: #f39c12;
      border-color: #f39c12
    }
    
    .btn-outline-danger {
      color: #e74c3c;
      border-color: #e74c3c
    }
    
    .collapse:not(.show) {
      display: none
    }
    
    .btn-group {
      position: relative;
      display: inline-flex;
      vertical-align: middle
    }
    
    .btn-group>.btn {
      position: relative;
      flex: 1 1 auto
    }
    
    .btn-group>.btn:not(:first-child) {
      margin-left: -1px
    }
    
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0
    }
    
    .btn-group>.btn:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0
    }
    
    .nav-link {
      display: block;
      padding: .5rem 2rem
    }
    
    .navbar {
      position: relative;
      padding: 1rem
    }
    
    .navbar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between
    }
    
    .navbar-brand {
      display: inline-block;
      padding-top: .32421875rem;
      padding-bottom: .32421875rem;
      margin-right: 1rem;
      font-size: 1.171875rem;
      line-height: inherit;
      white-space: nowrap
    }
    
    .navbar-nav {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none
    }
    
    .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0
    }
    
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center
    }
    
    .navbar-toggler {
      padding: .25rem .75rem;
      font-size: 1.171875rem;
      line-height: 1;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: .25rem
    }
    
    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background: 50% no-repeat;
      background-size: 100% 100%
    }
    
    @media (min-width:992px) {
      .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
      }
      .navbar-expand-lg .navbar-nav {
        flex-direction: row
      }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
      }
      .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto
      }
      .navbar-expand-lg .navbar-toggler {
        display: none
      }
    }
    
    .navbar-dark .navbar-brand,
    .navbar-dark .navbar-nav .nav-link {
      color: #fff
    }
    
    .navbar-dark .navbar-toggler {
      color: #fff;
      border-color: hsla(0, 0%, 100%, .1)
    }
    
    .navbar-dark .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
    }
    
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem
    }
    
    .card-body {
      flex: 1 1 auto;
      padding: 1.25rem
    }
    
    .pagination {
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: .25rem
    }
    
    .page-link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: 0;
      line-height: 1.25;
      color: #fff;
      background-color: #18bc9c;
      border: 0 solid transparent
    }
    
    .page-item:first-child .page-link {
      margin-left: 0;
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem
    }
    
    .page-item:last-child .page-link {
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem
    }
    
    .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: #0f7864;
      border-color: transparent
    }
    
    .page-item.disabled .page-link {
      color: #ecf0f1;
      background-color: #3be6c4;
      border-color: transparent
    }
    
    .list-group {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      margin-bottom: 0
    }
    
    .list-group-item {
      position: relative;
      display: block;
      padding: .75rem 1.25rem;
      margin-bottom: -1px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, .125)
    }
    
    .list-group-item:first-child {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem
    }
    
    @-webkit-keyframes spinner-border {
      to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }
    
    @keyframes spinner-border {
      to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }
    
    .spinner-border {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      vertical-align: text-bottom;
      border: .25em solid;
      border-right: .25em solid transparent;
      border-radius: 50%;
      -webkit-animation: .75s linear infinite spinner-border;
      animation: .75s linear infinite spinner-border
    }
    
    .bg-primary {
      background-color: #2c3e50!important
    }
    
    .rounded-0 {
      border-radius: 0!important
    }
    
    .d-none {
      display: none!important
    }
    
    .d-flex {
      display: flex!important
    }
    
    .align-items-center {
      align-items: center!important
    }
    
    .position-relative {
      position: relative!important
    }
    
    .fixed-top {
      top: 0
    }
    
    .fixed-top {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 1030
    }
    
    .shadow-sm {
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important
    }
    
    .w-100 {
      width: 100%!important
    }
    
    .mt-1 {
      margin-top: .25rem!important
    }
    
    .ml-1 {
      margin-left: .25rem!important
    }
    
    .my-2 {
      margin-top: .5rem!important
    }
    
    .mr-2 {
      margin-right: .5rem!important
    }
    
    .my-2 {
      margin-bottom: .5rem!important
    }
    
    .mr-3 {
      margin-right: 1rem!important
    }
    
    .mx-4 {
      margin-right: 1.5rem!important
    }
    
    .mx-4 {
      margin-left: 1.5rem!important
    }
    
    .pt-2 {
      padding-top: .5rem!important
    }
    
    .pb-2 {
      padding-bottom: .5rem!important
    }
    
    .mr-auto {
      margin-right: auto!important
    }
    
    .ml-auto {
      margin-left: auto!important
    }
    
    @media (min-width:576px) {
      .my-sm-0 {
        margin-top: 0!important
      }
      .my-sm-0 {
        margin-bottom: 0!important
      }
      .mr-sm-2 {
        margin-right: .5rem!important
      }
    }
    
    @media (min-width:992px) {
      .my-lg-0 {
        margin-top: 0!important
      }
      .my-lg-0 {
        margin-bottom: 0!important
      }
    }
    
    .text-left {
      text-align: left!important
    }
    
    .text-center {
      text-align: center!important
    }
    
    .font-weight-bold {
      font-weight: 700!important
    }
    
    .text-info {
      color: #3498db!important
    }
    
    .text-warning {
      color: #f39c12!important
    }
    
    .btn-secondary {
      color: #fff
    }
    
    html {
      height: 100%
    }
    
    body {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 5rem;
      background-color: hsla(204, 8%, 90%, 1);
      color: #333;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    }
    
    select {
      -webkit-appearance: none
    }
    
    .navbar-brand img {
      max-width: 30px
    }
    
    .navbar {
      padding: .5rem 1rem
    }
    
    .post-footer li {
      background-color: #fcfcfc
    }
    
    .entry-title {
      color: #888
    }
    
    .post-name {
      color: #222
    }
    
    .page-load-status {
      display: none;
      padding-top: 20px;
      text-align: center;
      color: #777
    }
    
    .post-footer li:nth-child(odd) {
      background-color: #fcfcfc
    }
    
    .post-footer li:nth-child(2n) {
      background-color: hsla(0, 0%, 0%, 0)
    }
    
    .manga-description {
      max-height: 115px;
      overflow: hidden;
      font-size: 15px
    }
    
    .post-footer li {
      padding: 8px 13px
    }
    
    .chapter-title {
      font-weight: 700
    }
    
    .navbar {
      opacity: 1
    }
    
    .chapter-date {
      float: right
    }
    
    .manga-links h2 {
      font-size: 1rem;
      line-height: 1.2;
      margin-bottom: 0
    }
    
    .navbar-icon .nav-link span.fa,
    .navbar-icon .nav-link span.far {
      font-size: 1.5em;
      padding-top: .3rem;
      margin-right: .1rem
    }
    
    a {
      color: #166785
    }
    
    .ad-container {
      margin: 0 auto 16px;
      padding: 0!important;
      text-align: center;
      width: 100%
    }
    
    .ad-title {
      padding: 7px;
      font-size: 14px
    }
    
    .ad-content {
      margin: 0 auto 20px
    }
    
    @media (max-width:767px) {
      .ad-size-280px {
        max-height: 280px
      }
    }
    
    .menu-link {
      font-size: 1.2rem
    }
    
    .manga-container {
      padding-right: 0!important;
      padding-left: 0!important
    }
    
    .col-lg-4,
    .col-lg-8,
    .col-md-5,
    .col-md-7,
    .col-xl-8 {
      padding-right: 7px;
      padding-left: 7px
    }
    
    .row {
      margin-right: 0;
      margin-left: 0
    }
    
    @media (max-width:576px) {
      .ad-size-280px {
        max-height: 280px
      }
      .container {
        max-width: 98%
      }
    }
    
    .chaptersList li {
      border-left: none!important;
      border-right: none!important;
      border-top-left-radius: 0!important;
      border-top-right-radius: 0!important
    }
    
    .chaptersList .scroll-area {
      max-height: 300px;
      overflow-y: auto
    }
    
    .card-body {
      padding: .6rem
    }
    
    .ratingResults {
      float: left
    }
    
    .ratingValue {
      font-size: 1.1rem;
      line-height: 1.1rem
    }
    
    .fa,
    .far,
    .fas {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1
    }
    
    .fa-bell:before {
      content: "\F0F3"
    }
    
    .fa-clock:before {
      content: "\F017"
    }
    
    .fa-moon:before {
      content: "\F186"
    }
    
    .fa-sign-in-alt:before {
      content: "\F2F6"
    }
    
    .fa-star:before {
      content: "\F005"
    }
    
    .fa-star-half-alt:before {
      content: "\F5C0"
    }
    
    .fa-user:before {
      content: "\F007"
    }
    
    .far {
      font-weight: 400
    }
    
    .fa,
    .far,
    .fas {
      font-family: Font Awesome\ 5 Free
    }
    
    .fa,
    .fas {
      font-weight: 900
    }
    
    .dropdown {
      position: relative
    }
    
    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: .5rem 0;
      margin: .125rem 0 0;
      font-size: .9375rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .15);
      border-radius: .25rem
    }
    
    .align-items-center {
      align-items: center!important;
    }
    
    .flex-column {
      flex-direction: column!important;
    }
    
    .d-flex {
      display: flex!important;
    }
    
    .slick-slide {
      float: left;
    }
    
    .slick-slider {
      position: relative;
      display: block;
    }
    
    .slick-list {
      overflow: hidden;
    }
    
    .slick-next,
    .slick-prev {
      color: transparent;
      border: none;
      background: 0 0;
    }
    
    .slick-dots li button {
      font-size: 0;
      border: 0;
      outline: 0;
      background: 0 0;
    }
    
    .slick-dots {
      position: absolute;
      width: 100%;
      list-style: none;
    }
    
    .modal {
      position: fixed;
      display: none;
    }
    
    .fade:not(.show) {
      opacity: 0;
    }
    .btn-outline-danger:hover {
                    background-color: #E74C3C;
                    color: snow;
                  }






.sidebarLoader .card { display: flex; flex-direction: column; max-height: 400px; /* или любое другое значение, в зависимости от ваших нужд */ overflow-y: scroll; }

.sidebarLoader article { flex: 1; /* чтобы элементы равномерно занимали свободное пространство */ 
background-color: #171717;
}

.sidebarLoader article img,.card-img-top img{
    width: 137px;
    height: 195px;
    margin-right:  240px;
    margin-bottom: 12px;
    text-align: center;
}
article .entry-title{
    font-size: 1rem;
    padding: 10px;
}
.sidebarLoader{
    /*width: 50% !important;*/
    background-color: #121212;
}
.card-body{
    background-color: #121212;
    color: snow;
}
.scroll-area{
    background-color: #121212;
    color: snow;
}
.list-group-item .post-footer .chapter-item{
    background-color: #121212;
    color: snow;
}
body, article{
    background-color: #171717;
    padding: 0px;
}
.card{
    background-color: #121212;
}
.post-footer li:nth-child(2n+1){
    background-color: #171717;
}
.post-name{
    color: snow;
}
code{
    font-size: 1rem;
}