<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Пять слайдеров со своим текстом на каждом слайде</title>
<!-- Подключение CSS-файла Swiper -->
<link rel="stylesheet" href="/css/{{key}}/slide_bar.css" />
<link rel="stylesheet" href="/css/{{key}}/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.bunny.net/css?family=Rubik:300,400,500">
<script type="text/javascript">
	var socket = io();
</script>


</head>

<body oncontextmenu="return false;">
	<nocode></nocode>
	<div class="app">
		<!-- Первый слайдер -->
		<h2>Обновления топ манги</h2>
		<div class="swiper-container-big swiper-container">
			<div class="swiper-wrapper big-img" id="s1">
				
			</div>
		</div>
		<!-- Маленькие слайдеры -->
		<div class="inner-panel">
			<!-- Второй слайдер -->
			<h2 class="lazy-title">Горячие новинки <a class="max-list" href="javascript:;"></a></h2>
				<div class="swiper-container">
					<div class="swiper-wrapper mini-img" id="s2">
						
				</div>
			</div>

			<!-- Третий слайдер -->
			<h2 class="lazy-title">Популярное <a class="max-list" href="javascript:;"></a></h2>
				<div class="swiper-container">
					<div class="swiper-wrapper mini-img" id="s3">
						
				</div>
			</div>

			<!-- Третий слайдер -->
			<h2 class="lazy-title">Недавно на сайте <a class="max-list" href="javascript:;"></a></h2>
				<div class="swiper-container">
					<div class="swiper-wrapper mini-img" id="s4">
						
				</div>
			</div>
		</div>
		<!-- Подключение JavaScript-файла Swiper -->
		<script src="/slider/nav/{{key}}/bibl.js"></script>
		<script src="/slider/nav/{{key}}/slider.js"></script>
		<script type="text/javascript">
			var urls = ['/manga?sortBy=-published_at','/manga?sortBy=popular','/manga?sortBy=-year'];
			for (var i = 0; i < document.querySelectorAll('.lazy-title').length; ++i) {
			    document.querySelectorAll('.lazy-title')[i].children[0].href=urls[i];
			}

			function update_keys(){
				socket.emit('update-secret-key', '{{key}}');
			}
			function load_page(key='{{key}}'){
				document.querySelector('head').innerHTML += '<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">';
				fetch(`/api/v0.0.1/${key}/?main_page=fuck_you_stupid_coder`)
				  .then(response => response.json())
				  .then(data => {
				    const htmlCode1 = data[0];
				    const htmlCode2 = data[1];
				    const htmlCode3 = data[2];
				    const htmlCode4 = data[3];
				    document.getElementById('s1').innerHTML = htmlCode1;
				    document.getElementById('s2').innerHTML = htmlCode2;
				    document.getElementById('s3').innerHTML = htmlCode3;
				    document.getElementById('s4').innerHTML = htmlCode4;
				  });

				fetch(`/api/v0.0.1/${key}/?header_generate=ok`)
					.then(response => response.json())
					.then(data => {
						document.querySelector('nocode').innerHTML = document.querySelector('nocode').innerHTML+data[0];
					});
			}
			load_page();
			update_keys();

			document.addEventListener('contextmenu', function(e) {
			  e.preventDefault();
			});
		</script>
	</div>
</body>
</html>
